---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "June 2021 - Currently...",
    title: "Software Engineer",
    company: "Akkodis",
    description:
      `Software lead for the implementation of automation tools, streamlining manual processes and reducing errors. Working for SEAT and other companies.`,
    text: [`Lead the design and architecture of software solutions for automating
          manual tests in the automotive sector, working directly with SEAT to
          improve testing processes and efficiency.`, 
          `Developing software projects using Python to connect with hardware,
          Flask to create RESTful APIs, and ReactJs to develop interactive front-end
          tools for automotive testing automation.`,
          `Gain extensive experience with Azure cloud services, SQL databases, and
          Power BI to authentificate user, enable data visualization, management,
          and reporting for project tracking and performance monitoring.`,
          `Working with Canoe and CAPL to develop testing automation scripts,
          enhancing testing accuracy and reducing manual effort in the automotive
          domain.`,
          `Implemented Docker in a virtual machine to deploy open-source tools
          and configure AI solutions connecting with Azure AI Foundry, driving
          efficient problem-solving for a range of tasks.`],
    link: "https://www.akkodis.com",
  },
  {
    date: "June 2020 - June 2021",
    title: "Telecommunications Engineer",
    company: "Einesa Cable",
    description:
      "Deploying fiber optic projects in Catalonia, developing a framework to improve manual processes. Working as a freelancer for 3 years.",
    link: "https://www.einesacable.com",
    text: [`Lead the deployment of optical fiber optic projects, overseeing subcontractor management, budget allocation, and securing necessary building licenses to ensure timely and compliant project delivery.`,
      `Identified and analyzed critical long progress issues in the project workflows, aiming to streamline operations and improve overall project efficiency.`,
      `Developed and implemented an automation tool to centralize project information, leveraging Docker and virtual machines to automate processes and enhance collaboration across all project teams.`,
      `Working as a freelancer from 2022 to 2024, contributing to the development of new projects and automating processes for various clients.`]
  },
  {
    date: "2018, 2019, 2020",
    title: "Network operator",
    company: "Mobile world congress",
    description:
      "Responsible for deploying and maintaining different networks for clients in 3 halls of the mobile world congress.",
    link: "https://www.mwcbarcelona.com/",
    text: [`Deploy customized network and services for clients as per the needs based on the Halls for Mobile World Congress.`,
      `Troubleshoot and maintenance of the network maintaining critical SLA during the event period.`,
      `Coordination a group of 10 fields technicians to surveillance and report networking anomalies to assure the service satisfaction.`,
      `Deployment and network configuration using CISCO latest infrastructure (wired/wireless) on different levels (access, distribution)`]
  },
  {
    date: "June 2016 - September 2016",
    title: "Field test engineer",
    company: "P3 Group",
    description:
      "In London, worked with mobile devices not yet commercially available, analyzing logs to improve performance and resolve network issues.",
    link: "https://www.p3-group.com/en/",
    text: [`Working using QUALCOMM’s professional tools, including QPST, QXDM, and QCAT, to perform advanced mobile device diagnostics and troubleshooting.`,
      `Experienced in analyzing device logs for various network technologies, including GSM, UMTS, LTE, VoLTE, and VoWiFi, to identify issues and optimize performance.`]
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
