---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "June 2021 - Currently...",
    title: "Software Engineer",
    company: "Akkodis",
    description:
      "Automate things!",
    link: "https://www.akkodis.com",
  },
  {
    date: "June 2020 - June 2021",
    title: "Telecommunications Engineer",
    company: "Einesa Cable",
    description:
      "Cabling things!",
    link: "https://www.einesacable.com"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
